/** @format */

@font-face {
	font-family: 'IBM Plex Bold';
	src: url('../assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-BoldItalic.ttf');
	font-family: 'IBM Plex Thin';
	src: url('../assets/fonts/IBM_Plex_Sans_Condensed/IBMPlexSansCondensed-Thin.ttf');
}

@font-face {
	font-family: 'Oswald';
	src: url('../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Teko';
	src: url('../assets/fonts/Teko/Teko-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--fontIBM: 'IBM Plex Bold', monospace;
	--fontOswald: 'Oswald', sans-serif;
	--fontRoboto: 'Roboto', sans-serif;
	--fontTeko: 'Teko', sans-serif;
	--fontUbuntu: 'Ubuntu', sans-serif;
	--color-green: #54bc54;
	--color-gold: rgb(240, 209, 31);
	--color-orange: #ee9910;
	--color-blue: #081a83;
	--color-red: #ca1c0f;
	--color-white: #fff;
	--color-black: #000;
	--color-grey: #857f7f;
	--color-gradient: rgba(21, 73, 224, 1);
	--main-gradient: linear-gradient(
		205deg,
		rgba(21, 73, 224, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(21, 73, 224, 1) 89%
	);
	font-size: 62.5%;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-gradient);
	background-image: var(--main-gradient);
	color: var(--color-black);
	font-family: var(--fontOswald);
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	min-height: 80vh;
	-webkit-box-shadow: 7px 13px 22px 18px rgba(66, 68, 90, 1);
	-moz-box-shadow: 7px 13px 22px 18px rgba(66, 68, 90, 1);
	box-shadow: 7px 13px 22px 18px rgba(66, 68, 90, 1);
	border-radius: 1rem;
}

button {
	cursor: pointer;
}

.root h1,
h2 {
	margin-top: 2rem;
	font-size: 2.5rem;
}

.root .task-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2rem;
	width: 70%;
	min-height: 6rem;
	box-shadow: 8px 8px 22px 8px rgba(66, 68, 90, 1);
	border-radius: 1rem;
}

.root .task-form .title {
	margin: 1.2rem;
}

.root .task-form .input-box {
	width: 90%;
	min-height: 2.5rem;
	display: flex;
	justify-content: space-between;
	margin: 0.5rem;
}

.root .task-form .input-box input {
	min-width: 70%;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	transition: transform 0.3s ease-in-out;
	padding-left: 1rem;
	font-weight: bold;
}

.root .task-form .input-box input:focus {
	border: 2px solid var(--color-blue);
	transform: scale(0.9);
}

.root .task-form .input-box input::placeholder {
	padding-left: 0.3rem;
}

.root .task-form .input-box .btn {
	min-width: 25%;
	padding-left: 0.5rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: inherit;
	border: 3px solid var(--color-white);
	border-radius: 0.5rem;
	color: var(--color-white);
	transition: transform 0.3s ease-in-out;
}

.root .task-form .input-box .btn:hover {
	transform: scale(1.1);
}

.root .task-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
	margin-top: 2rem;
}

.root .task-container h3 {
	margin-left: 1rem;
	padding-top: 1rem;
}

.root .task-container .tasks-box {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.root .task-container .tasks-box .task {
	width: 100%;
	min-height: 4vh;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	border-bottom: 2px solid var(--color-black);
}

.root .task-container .tasks-box .task p {
	width: 60%;
	padding-left: 1rem;
}

.root .task-container .tasks-box .task .confirm-box {
	width: 40%;
	display: flex;
	justify-content: flex-start;
}

.root .task-container .tasks-box .task  input {
	margin-right: 1rem;
	
}

.root .task-container .tasks-box .task  .del-btn {
	margin-left: 2rem;
	padding: 0 0.5rem;
	font-size: 1rem;
	font-family: var(--fontTeko);
	background-color: inherit;
	border: 1px solid var(--color-black);
	border-radius: 0.3rem;
	transition: transform 0.5s ease-in-out;
}

.root .task-container .tasks-box .task  .del-btn:hover {
	transform: scale(1.1);
}

.confirm {
	font-weight: bold;
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

@media (max-width: 500px) {
	.root .task-form {
		min-width: 95%;
	}
	.root .task-form input {
		max-width: 60%;
	}
}
