/** @format */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;500;700&family=Oswald:wght@200;300;400;500;700&family=Roboto:wght@100;300;700&family=Teko:wght@300;400;700&family=Ubuntu+Condensed&display=swap");
*,
after,
before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 68.5%;
  --fontIBM: "IBM Plex Mono", monospace;
  --fontOswald: "Oswald", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
  --fontTeko: "Teko", sans-serif;
  --fontUbuntu: "Ubuntu Condensed", sans-serif;
}

body {
  background-color: #ddd;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fontIBM);
  color: #fff;
  position: relative;
}

.modal-edit {
  min-height: 20rem;
  min-width: 40rem;
  position: absolute;
  top: 20%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%);
  border: 1px solid #ffffff;
  background-color: #fff;
  box-shadow: 18px 14px 30px 6px #ffffff;
  z-index: 10;
}

.input-newtext {
  min-width: 90%;
  min-height: 2.5rem;
  margin-bottom: 5rem;
  padding-left: 1rem;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  background-color: gray;
  font-size: 1.5rem;
  color: white;
}

.modal-edit h2 {
  color: #000;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 0.6rem;
  font-family: var(--fontTeko);
}

.btn-box {
  display: flex;
  justify-content: space-around;
  min-width: 90%;
}

.btn-confirm {
  min-width: 10rem;
  padding: 0.5rem 2rem;
  background-color: #808080;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  color: #fff;
  transition: all 0.5s, color 0.5s;
}

.btn-cancel {
  min-width: 10rem;
  padding: 0.5rem 2rem;
  background-color: #808080;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  color: #fff;
  transition: all 0.5s, color 0.5s;
}

.btn-confirm:hover, .btn-cancel:hover {
  color: #fff;
  background-color: #453b3b;
  font-weight: bold;
}

h1 {
  margin: 2rem;
  font-size: 3rem;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  min-height: 80vh;
  border: 2px solid #1907dd;
  border-radius: 0.5rem;
}

.box-add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 80%;
  min-height: 4rem;
  margin-top: 1rem;
}

.input-text {
  min-height: 4rem;
  min-width: 60%;
  margin-left: 1rem;
  font-size: 2rem;
  padding-left: 1rem;
  border-radius: 1rem;
}

.btn-add {
  height: 100%;
  margin: 1rem;
  margin-left: 2rem;
  border: none;
  background-color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-add:hover {
  transform: scale(1.4);
}

.btn-add img {
  width: 100%;
}

.task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  max-height: 6rem;
  padding: 1.5rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: var(--fontOswald);
  border: 1px solid #1907dd;
  border-radius: 0.3rem;
}

.task-text {
  min-width: 60%;
  line-height: 100%;
  height: 100%;
  color: #000;
}

.btn {
  height: 90%;
  max-width: 15%;
  padding: 0.3rem;
  background-color: inherit;
  border: none;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.task .btn:hover {
  background-color: #b6b1b1;
  transform: scale(1.1);
}

.task .btn img {
  width: 20%;
  pointer-events: none;
}

.confirm {
  text-decoration: line-through;
  text-decoration-style: double;
  color: #000;
  font-weight: bold;
  color: red;
}

@media (width <= 600px) {
  .container {
    max-width: 80%;
  }
  h1 {
    font-size: 1.5rem;
    color: blue;
  }
  .input-text {
    font-size: 1.2rem;
  }
  .task-text {
    font-size: 1.2rem;
  }
  .task .btn img {
    width: 60%;
    pointer-events: none;
  }
}
@media (width <= 430px) {
  .container {
    max-width: 80%;
  }
  .input-text {
    font-size: 1rem;
  }
}
@media (width <= 800px) {
  .container {
    max-width: 80%;
  }
  .input-text {
    font-size: 1rem;
  }
}
@media (width > 1200px) {
  .container {
    max-width: 80%;
  }
  .task {
    min-width: 95%;
  }
  .input-text {
    font-size: 1rem;
  }
  .input-text {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */